<!--Name: Dongjoon Ethan Choe-->

<!DOCTYPE html>
    <html lang = "en">
      <head>
        <title>UGA</title>
        <meta charset="utf-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

      </head>
      <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/game">Game</a>
              </li>
            <li class="nav-item">
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Log Out</button>
                </form>
            </li>
          </ul>
        </nav>
        <div class = "container-fluid p-3 my-3 bg-dark text-white">
          <h1>Untitled Game of Awesomeness</h1>
          <h4>2-D platform puzzle solver</h4>
        </div>
        <h2> Welcome <%= name %> !!!</h2>
        <div class = "card">
          <div class = "card-header">
            <p class = "card-text col-md-8">Welcome UGA, where your best chance of leaving is by navigating the death ridden puzzles!! Use your three powerups to flow through each stage in an expert like fashion. Each ability can only be used one at a time, so be careful how you chain them together, otherwise you might end up another kebob on the skewers below.</p>
          </div>
      	</div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
              <h2>Gameplay</h2>
              <iframe width="966" height="543" src="https://www.youtube.com/embed/miJmKpzbls4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        
              <h3> Leaderboard </h3>
              <table class = "table table-hover table-bordered table-sm">
                <thead class = "thead-dark">
                	<tr>
                		<th>#</th><th>Name</th><th>Score</th>
                	</tr>
                </thead>
              	<tr>
              		<td>1</td><td>iQ</td><td>9,000</td>
              	</tr>
              	<tr>
              		<td>2</td><td>Signia</td><td>6,900</td>
              	</tr>
              	<tr>
              		<td>3</td><td>Vortex</td><td>4,200</td>
              	</tr>
              </table>
              
              <p class = ""> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc arcu lorem, congue vel risus et, hendrerit aliquam mi. Cras nulla metus, dignissim laoreet porta et, pharetra in est. Ut pulvinar dui quis felis imperdiet vehicula in eget augue. Phasellus non feugiat dui. Donec posuere erat ut enim consequat, at ornare leo lacinia. In egestas tristique urna eu pharetra. Quisque eget magna congue, consequat diam ac, laoreet urna. Mauris ut elit feugiat, feugiat sapien a, dictum magna. Morbi bibendum orci non erat consectetur ultricies. Vestibulum sit amet nisl non orci mattis ornare nec vitae purus. Suspendisse sit amet elit commodo libero congue pretium eget nec ex. Integer et consectetur quam. Nulla facilisi. Donec tristique ligula sed interdum dignissim.

              Vestibulum aliquam diam eget ullamcorper congue. Duis auctor ex id diam fringilla rhoncus. In sed ligula tristique, porttitor elit vel, luctus dui. Praesent luctus ligula ac ipsum porta dignissim. Proin ut posuere odio, ut facilisis enim. Etiam a mauris porttitor, porttitor nulla non, vestibulum lorem. Donec luctus aliquam hendrerit. In eget lacus pharetra, tristique diam at, posuere odio. Suspendisse lobortis nulla in rutrum tempor. Nunc quis magna neque. Mauris sollicitudin ac purus iaculis posuere. Vestibulum ultricies nunc vel purus tincidunt accumsan. Vestibulum ligula metus, sagittis nec ultricies ac, pellentesque ut mauris.

              Integer gravida, dolor ut finibus fringilla, justo dolor egestas neque, vel tincidunt augue libero eget arcu. Nullam auctor id velit id convallis. Nullam interdum, dui sed fermentum tristique, nulla diam semper mi, vitae commodo erat sapien sed dui. Integer eget mauris quam. Aenean vel urna laoreet, vestibulum sem at, pellentesque nunc. Curabitur vehicula vehicula nunc, a pretium nisl rutrum et. Mauris a erat ac arcu placerat maximus lobortis et neque. Mauris ex nisl, imperdiet vitae scelerisque quis, efficitur et velit. </p>
            </div>
        </div>
        
      </body>
    </html>
